body {
	color: $grey;
	font: $font-weight #{$font-base + "px"}/#{$line-height} $font-family;
}

small {
	font-size: $small;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

@font-face {
  font-family: 'Neuzeit';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/neuzeit-book.eot'); /* IE9 Compat Modes */
  src: url('/fonts/neuzeit-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/neuzeit-book.woff') format('woff'), /* Modern Browsers */
       url('/fonts/neuzeit-book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/neuzeit-book.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// styles for all headings, in the style of @csswizardry
.hN {
	text-rendering: optimizeLegibility; // voodoo to enable ligatures and kerning
	line-height: 1; // this fixes huge spaces when a heading wraps onto two lines
	margin-top: 0;
	color: $grey--dark;
	font: $font-weight #{$font-base + "px"}/#{$line-height} $font-family;
	font-family: 'Neuzeit';
}

h1, .h1 {
	@extend .hN;
	font-size:50px;
	text-align:center;
}

h2, .h2 {
	@extend .hN;
}

h3, .h3 {
	@extend .hN;
}

h4, .h4 {
	@extend .hN;
}

p {
	margin: auto auto $indent-val;
}

a{
	color:$grey;
	@include vendorize(transition, all 0.5s);

	&:hover{
		opacity: 0.75;
		@include vendorize(transition-duration, 0s);
	}
}

