$numKeys: 8;

body, a, p {
	color: rgb(0,0,0);
}

.play-machine{
	// height:200px;
	// width:1500px;
	// // margin-top:200px;
	// top:200px;
width: 100%;
position: relative;
}

.wrapper:after {
	content: '';
	display: table;
	clear: both;
}

.wrapper {
	padding: 0;
	margin: 0 auto;
	max-width: 65%;
}


.previous-prints li img {
	max-width: 150px;
}

.previous-prints li {
	background: white;
	width: 150px;
}

h1 {
	text-align: left;
	font-size: 3em;
	color: rgb(255,67,55);
}

h1 img {
	position: relative;
	z-index: 200;
}

.play-machine_keys{
	position:absolute;
	top:0px;
	left:0;
	text-align:justify;
	height:200px;
	width: 100%;
}

.play-machine-header {
	background: rgb(230,228,220);
	width: 100%;
	padding-top: 3em;
}


.play-machine_key{
	position:relative;
	display: inline-block;
	background-blend-mode: overlay, normal;
	width: 12%;
	margin: 0 0.25%;
	height:60px;
	cursor:pointer;
	line-height: 1.5em;
	vertical-align: bottom;
	transition: height 0s 1.59s linear;
	font-size: 0;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 60px;
		bottom: 0;
	}

	&.active:after{
		height: 40px;
		// top: 20px;
	}

}

.key-bar {
	height: 60px;
	line-height: 3em;
}

.key_zero:after {
	background: rgb(154,226,152);
}

.key_one:after {
	background: rgb(48,175,130);
}

.key_two:after {
	background: rgb(122,188,238);
}

.key_three:after {
	background: rgb(92,96,125);
}

.key_four:after {
	background: rgb(243,198,47);
}

.key_five:after {
	background: rgb(240,151,85);
}

.key_six:after {
	background: rgb(232,94,91);
}

.key_seven:after {
	background: rgb(163,106,123);
}

.key_zero {
	color: rgb(154,226,152);
}

.key_one {
	color: rgb(48,175,130);
}

.key_two {
	color: rgb(122,188,238);
}

.key_three {
	color: rgb(92,96,125);
}

.key_four {
	color: rgb(243,198,47);
}

.key_five {
	color: rgb(240,151,85);
}

.key_six {
	color: rgb(232,94,91);
}

.key_seven {
	color: rgb(163,106,123);
}

.play-machine_paper{
	width:100%;
	position:absolute;
	z-index: -1;
}

.mavis-info p {
	margin-bottom: 0;
	font-family: 'Neuzeit';
}

.key-bar {
	position: absolute;
	top: -200px;
}

body {
	background: white;
}

.mavis-info {
	float: left;
	width: 17.5%;
	padding: 2%;
	box-sizing: border-box;
	font-size: 0.875em;
}

.play-machine canvas{
	height:100%;
	width:100%;
	position: relative;
	display: block;
}

.play-machine img {
	width: 100%;
	display: block;
	margin: 0;
}