$numKeys: 8;

@font-face{
	font-family:"Typewriter";
	src:url("fonts/typewriter.eot?#iefix");
	src:url("fonts/typewriter.eot?#iefix") format("eot"),
		url("fonts/typewriter.woff") format("woff"),
		url("fonts/typewriter.ttf") format("truetype"),
		url("fonts/typewriter.svg#typewriter") format("svg");
}

body, a, p {
	color: rgb(0,0,0);
	background: white;
	font-family: Typewriter;
}

.play-machine{
	width: 100%;
	position: relative;
}

.wrapper:after {
	content: '';
	display: table;
	clear: both;
}

.wrapper {
	padding: 0;
	margin: 0 auto;
	max-width: 65%;
}




h1 {
	text-align: left;
	font-size: 3em;
	color: rgb(255,67,55);
}



.play-machine_paper{
	width:100%;
	position: relative;
	z-index: -1;
}


.key-bar {
	position: absolute;
	top: -200px;
}

body {
	background: white;
}

.mavis-info {
	position: fixed;
	left: 0;
	width: 17.5%;
	padding: 2%;
	box-sizing: border-box;
}
.mavis-info span {
	color: rgb(34,126,163);
}



.key-press {
	position: absolute;
	width: 4.5%;
}
.key-press-0 {
	left: 4%;
	background-color: rgb(154,226,152);
}
.key-press-1 {
	left: 16.5%;
	background-color: rgb(48,175,130);
}
.key-press-2 {
	left: 29%;
	background-color: rgb(122,188,238);
}
.key-press-3 {
	left: 41.5%;
	background-color: rgb(92,96,125);
}
.key-press-4 {
	left: 54%;
	background-color: rgb(243,198,47);
}
.key-press-5 {
	left: 66.5%;
	background-color: rgb(240,151,85);
}
.key-press-6 {
	left: 79%;
	background-color: rgb(232,94,91);
}
.key-press-7 {
	left: 91.5%;
	background-color: rgb(163,106,123);
}

.timestamp {
	margin: 1em 0 3em;
}


@media screen and (max-width: 960px) {
	.mavis-info {
		width: 100%;
		background: white;
	}

	.wrapper {
		width: 90%;
	}
}
